<div>
  <h2>Devotionals </h2>
  <mat-card>
    <mat-card-title> Daily inspiration </mat-card-title>
    <mat-card-content>
      <a href="https://cac.org/daily-meditations/">Richard Rohr's Center for Contemplative Prayer</a><br />

      <a href="https://www.luthersem.edu/godpause/">God Pause from Luther Seminary</a> <br />
      <br />

    </mat-card-content>
    <mat-card-footer>
         </mat-card-footer>
  </mat-card>
<mat-divider></mat-divider>

<mat-card>
 Listen for the still speaking Spirit, giver of life and holy presence
</mat-card>
</div>
