<div>
  <h2>Mindfulness</h2>
  <mat-card>
    <mat-card-title> Just sit there or walk in peace </mat-card-title>
    <mat-card-content>
      <p>
        When we read versions of the Nicene creed, I am drawn to memory of the
        way I recited the creed as a profession of faith in the Catholic Mass. I
        am drawn also to the rosary and how we would use that as a variation of
        meditative prayer.  We say these things over and over in order to foster
        a sense of reverence, and I can still verbatim recite each prayer and
        the profession that we learned then.  That is a unique way to do
        meditation by reciting common phrases and prayers -- and a great way to
        learn them.  Since I do not fully subscribe to the Nicene or Apostles
        Creed these days, I look for other ways that might describe how I
        believe without being constrained to them. 
      </p>

      <p>
        Today, we turn to the Tao Te Ching and ask which is so important that I
        would want to incorporate that into my meditation rather than as an
        empty mind or mindfulness meditation. Since the Nicene creed calls God
        into being through Jesus Christ and the holy Spirit, I am drawn to
        particular verses that talks about being born and into being. Let us
        meditate upon being.
      </p>
      <p>
        40b<br />
        &quot; Returning to the root is the movement of the Tao.<br />
        Quietness is how it functions.<br />
        Ten thousand things are born of being.<br />
        Being is born of nonbeing. &quot;
      </p>
      <p>
        42a &quot; Nonbeing gives birth to the oneness,<br />
        The oneness gives birth to yin and yang.<br />
        Yin and yang give birth to heaven, earth, and beings.<br />
        Heaven, earth, and beings give birth to everything in existence.<br />
        Therefore, everything in existence carries within it both yin and
        yang,<br />
        and attains harmony by blending these…&quot;
      </p>

      <p>
        Meditating on this, I feel the different dimensions of God. Perhaps,
        others also might feel and see the different dimensions of God working
        with us and around us as trinity, God and spirit or as spirit or as
        Jesus.
      </p>
      <p>
        The power of God perhaps can be described, but like the words of the
        Tao, words cannot contain God. From God, the onenness, &quot;maker ...of
        all that is seen and unseen&quot;, we have the spirit, Jesus and
        beautiful beings in Heaven and Earth.
      </p>
      <p>
        What this tells me in this meditative reflection is that whether Jesus
        was God incarnate, &quot; God from God, true light from true light,
        begotten not made,&quot; a divine being created by God as an
        intercession to us, or a person with strong connection to God &quot;by
        the power of the Holy Spirit&quot;, Jesus's work here on Earth,
        &quot;for our sake... was crucified ...suffered, died...&quot; is a
        powerful testament of Truth.
      </p>
      <p>
        How do we live out our testament of Truth? That we all are born of and
        made of the work of God that binds us to the being of God and how we
        work with each other is important. When I meditate on these, I can feel
        how God is of the yin and yang as we are in this world that has been
        gifted to us. 
        <br />In fact, Jesus teaches a version of the yin and yang and to find
        contentment rather than to persist in expectations through the sermon on
        the plain that we read during the weeks of lectionary in Luke.
      </p>
      <p>
        51b.<br />
        Giving birth,<br />
        Nourishing life,<br />
        Shaping things without possessing them,<br />
        Serving without expectation of rewards,<br />
        Leading without dominating:<br />
        These are the profound virtues of nature,<br />
        And of nature's best beings.
      </p>
      <p>
        &quot; Love your enemies, do good and lend, expecting nothing in return.
        Your reward will be great and you will be the children of the Most
        High.&quot; (Luke 6: 35)
      </p>
      <p>
        Let us be one with the Spirit, "the giver of life", that surrounds us
        and binds us. Let us be profound virtues of nature and expect nothing in
        return while nourishing life and shaping the world we live with our love
        . Amen.
      </p>
      <p>
        *As translated by Brown Walker, B. (1995). The Tao Te Ching of Lao Tzu.
        First St. Martin's Griffin Ed: New York.
      </p>
      <p>
        Then, Reading the material around Dionysius, it is fitting we might read
        this on the week of Transfiguration Sunday with such a mystical stories
        of Jesus and Moses. I again sense Taoism and parts of the Tao Te Ching,
        but this time, I would like to meditate on the principles of the duality
        very present in Dionysius work: the opposites as they all form as part
        of the one. 
      </p>
      <p>Let our spirit rise and fall with this meditation.</p>
      <p>
        From the Book of Chuang Tzu (translated by Martin Palmer p 188)<br />
        &quot; Life Follows death and death is the forerunner of life.<br />
        Who can know their ways?...<br />
        As death and life are together in all this, which can be termed bad? All
        the forms of life are one…, yet we regard some as beautiful …others as
        ugly… but even the diseased and rotting can become the spiritual and
        wonderful, and the spiritual and wonderful can become the diseased and
        rotting. “
      </p>
      <p>
        The mysticism of this weaves with the Dionysius line into this
        discussion: “outshining all brilliance with the intensity of their
        Darkness” and then, “yet in a ..sense, it does not possess them since it
        transcends them all;”
      </p>
      <p>
        Thus, we witness transcendence from left to right and light to dark.<br />
        We see transcendence from right to left and dark to light;<br />
        From death to life and life to death.<br />
        Out of darkness came light and from light we go to darkness.<br />
        All are one with the presence of the Holy One, the Divine Wisdom.<br />
      </p>
      <p>
        And suddenly transfiguration is a transcendence that we can witness in
        our own lives.<br />
        With the &quot;One who is beyond all&quot;, we cannot literally
        comprehend that infinite image who embodies both the divine light and
        the Darkness to reveal the naked Truth: that we cannot speak it because
        we cannot describe it, but we can know it.
      </p>
      <p>
        How do we allow the light and darkness to transcend within us and in our
        being? How do we reject the perfect light and darkness by our feeble
        attempt to define its trueness, its being?
      </p>
      <p>
        Spirit of the living God, fall upon us and be with us in all of your
        splendor and murky ways.<br />
        Spirit of the One who gives us life and death, be nearer to our
        understanding and our denials.<br />
        Reveal to us so we might be able to truly embrace what we cannot
        describe and allow that to be the naked Truth in our lives.
      </p>
      <p>
        Spirit of the light and the Dark, be far from us so that we might be
        comforted in your presence.<br />
        That we may continue yours in no-words language, actionless-action and
        thinkingless-thought,<br />
        And through your holy Spirit, open our questions and hearts to your True
        presence.
      </p>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card> Refuge Recovery | AA </mat-card>
</div>
