<div fxFlex flexLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <ul>
      <li style="list-style: none"><a href="#">About Faith Community</a></li>
      <li style="list-style: none">
        <a href="http://www.tigersndragons.com/orgstartup.html"
          >Nonprofit Resources</a
        >
      </li>
      <li style="list-style: none">
        <a href="http://www.tigersndragons.com">Tech Services</a>
      </li>
    </ul>
  </mat-card>
  <mat-card id="contact">
    Faith Community Church<br />
    c/o Hope and Truth Ministry<br />
    Des Moines, IA<br />
    <!--<a
      href="https://www.linkedin.com/in/wpony76/"
      target="_new"
    >
      <img src="assets/img/LinkedIn-40.gif"
     alt=""/></a>-->
  </mat-card>
  <mat-card>

    <span>&copy; Copyright 2016-2026<br/>
      Hope and Truth Ministry <br/>
      All Rights Reserved.</span>
    <a href="http://www.tigersndragons.com">A BigKittyMeows Production</a>
    <div class="version-info">
      Version {{ version }} | Build Date: {{ buildDate }}
    </div>
  </mat-card>
</div>

<!--footer -->
