<div>
  <h2>Outreach</h2>
  <mat-card>
    <mat-card-title> Be the Church in the community </mat-card-title>
    <mat-card-content>
      Urban Bicycle Food Ministry<br />
      Interfaith Alliance<br />
      Open and Affirming Coalition<br />
      Food Pantry of Central Iowa<br />
      <br />
      Support Ukraine<br />
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card>
    <mat-card-title>Recent Articles</mat-card-title>
    <mat-card-content>
      <div *ngIf="loading">Loading recent posts...</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <ul class="list-group" *ngIf="!loading && posts.length > 0">
        <li *ngFor="let post of posts" class="list-group-item">
          <a href="{{ post.url }}" target="_blank"> {{ post.title }} </a>
          on {{ post.published | date: 'short' }}
        </li>
      </ul>
      <div *ngIf="!loading && posts.length === 0 && !errorMessage">
        No posts available.
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card> Monthly givings | Planned Bike Rides </mat-card>
  <mat-card>
    because together we are more than just a church. We serve the One that
    created us so that we can share life that sustains and creates joy in the
    world
  </mat-card>
</div>
